:root{  /* variaveis*/
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementos base*/
body{
  background: var(--preta);
  font-family: 'Arial', Times, serif;
  color: white;

}

.header-box-principal .header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute; 
    top: 0px; 
}

.header-box-principal .header-container .options{
    display: flex;
    flex-direction: row;
    margin-left: 400px;
    margin-top: 20px;
   
}

.header-box-principal .header-container .options .photo-perfil{
    height: 2.5rem;
    cursor: pointer;
    border-radius: 5px;
}
.header-box-principal .header-container .options .photo-perfil:hover{
    opacity: 0.9;
}

.header-box-principal .header-container .options .botao:hover{
    opacity: 0.9;
}


.header-box-principal .header-container .options .botao{
    margin-right: 15px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.3em;
    cursor: pointer;
}

.logo-pag-login{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 40px;
    width: 90px;
}

.header-box-principal .header-container nav{
    margin-top: 20px;
}

.header-box-principal .header-container nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.788);
    margin-right: 10px;
}

.header-box-principal .header-container nav a:hover{
    color: #fff;
}

.header-box-principal{
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100% ), url("../img/drugs2.jpg");
    height: 650px;
    background-size:cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


/*Filme principal*/

.filme-principal{
    font-size: 16px;
}

.filme-principal .container{
    width: 60%;
    margin-left: 40px;
}

.filme-principal .descricao{
    margin-bottom: 40px;
    margin-top:  10px;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao-play{
    background-color: white;
    border: none;
    color: black;
    border-radius: 5px;
    font-weight: bold;

    padding: 10px 30px;
    margin-right: 15px;
    font-size: 15px;

    cursor: pointer;
    transition: .3s ease all; /*delay*/
}

.botao-play:hover{
    opacity: 0.8;
}

.botao-info{
    background-color: rgba(109, 109, 110, 0.7);
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;

    padding: 10px 30px;
    margin-right: 15px;
    font-size: 15px;

    cursor: pointer;
    transition: .3s ease all; /*delay*/
}

.botao-info:hover{
    opacity: 0.8;
}

.botao i{
    margin-right: 5px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 20px;
    font-weight: bold;
}